<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958553769024-ilgb4ug16gdioqi07ccdqc6g02qbdr6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958553769024-ilgb4ug16gdioqi07ccdqc6g02qbdr6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAWdVeiG1vJvLNjBmtFv76ZyyxrGqGbmTs</string>
	<key>GCM_SENDER_ID</key>
	<string>958553769024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junkielabs.junkielab.AnyOne</string>
	<key>PROJECT_ID</key>
	<string>anyone-ac12e</string>
	<key>STORAGE_BUCKET</key>
	<string>anyone-ac12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:958553769024:ios:91d5812f295add57</string>
	<key>DATABASE_URL</key>
	<string>https://anyone-ac12e.firebaseio.com</string>
</dict>
</plist>